[distutils]
index-servers =
    pypi
    testpypi

[pypi]
username = __token__
password = # Your PyPI token here (starts with pypi-)

[testpypi]
username = __token__
password = # Your TestPyPI token here